# Basic language skills
<a id='sec_basic_lang_skills'></a>

### Expressions
In Python, an expression is a combination of values, variables, and operators that evaluates to a result. Here's an example of an expression:

In [ ]:
2 + 3 * 4

In this expression, we have the values 2, 3, and 4, and the operators + and *. The expression will be evaluated, and the result will be returned.

### Data Types
Python has several built-in data types, including:

- Integer: Represents whole numbers without decimals. Example: 42
- Float: Represents real numbers with decimals. Example: 3.14
- String: Represents a sequence of characters. Example: 'Hello, World!'
- Boolean: Represents either True or False.
- List: Represents an ordered collection of items. Example: [1, 2, 3]
- Tuple: Similar to a list, but immutable (cannot be modified). Example: (1, 2, 3)
- Dictionary: Represents a collection of key-value pairs. Example: {'name': 'John', 'age': 25}

Here's an example of using different data types in a Jupyter Notebook:

In [ ]:
age = 25
height = 1.75
name = 'John Doe'
is_student = True

name

### Operations
Python supports various operations that can be performed on different data types. Some common operations include:

- Arithmetic operators: +, -, *, /, % (modulus), ** (exponentiation)
- Comparison operators: == (equal to), != (not equal to), >, <, >=, <=
- Logical operators: and, or, not
- String concatenation: +
- List operations: indexing, slicing, appending, extending, etc.

In [ ]:
x = 5
y = 3
x + y

In [ ]:
name1 = 'John'
name2 = 'Doe'
full_name = name1 + ' ' + name2
full_name

### Identation

In Python, indentation plays a crucial role in defining the structure and scope of your code. It is used to group statements together and indicate the blocks of code that should be executed together. 

#### Indentation in Control Structures
Indentation is particularly important when working with control structures such as loops and conditionals.

In [ ]:
fruits = ['apple', 'banana', 'orange']

for fruit in fruits:
    print("*" * 10)
    print(fruit)  # Indented block of code within the loop

if len(fruits) > 3:
    print("There are more than 3 fruits!")  # Indented block of code within the if statement
    print()

Nesting in identation

In [ ]:
x = 10
y = 5

if x > y:
    print("x is greater than y")
    if x > 10:
        print("x is also greater than 10")
    else:
        print("x is not greater than 10")
else:
    print("x is less than or equal to y")

#### Indentation in Function Definitions
Indentation is also used in defining functions. The indented block following the function declaration represents the function body.

In [ ]:
def greet(name):
    print("greet function called!")
    print("Hello, " + name + "!")  

greet("Alice")

### Variables

In Python, variables are dynamically typed, which means you can assign values of different types to the same variable, and the type of the variable can change dynamically.

In [ ]:
x = 5  # Assigning an integer value to variable x
print(x)  

y = "Hello"  
print(y)

You can change the type of a variable by assigning a value of a different type to it. Here's an example:

In [ ]:
x = 5  # x is an integer
print(x)  

x = "Hello"  # Assigning a string value to x, changing its type
print(x)

Python dynamically infers the type of a variable based on the assigned value. Here's an example:

In [ ]:
x = 5  # x is inferred as an integer
print(type(x)) 

x = 3.14  # x is inferred as a float
print(type(x))  

x = "Cat" # x is inferred as a string
print(type(x))

In Python, **None** is a special value that represents the absence of a value or the lack of a specific object. It is often used to indicate that a variable or object does not have a meaningful value or has not been assigned yet

In [ ]:
name = None
print(name)  

if name is None:
    print("The name is not assigned.")
else:
    print("The name is:", name)

### Assignments

In Python, you can perform assignments to variables, including assigning multiple values simultaneously and chaining assignments

In [ ]:
x, y, z = 10, 'Hello', 3.14
print(x)
print(y)
print(z)

Python allows you to chain assignments, where the value of one variable is assigned to multiple variables simultaneously.

In [ ]:
x = y = z = 20
print(x)
print(y)
print(z)

Python also allows you to swap values between variables using a single line of code without needing an intermediate variable

In [ ]:
x = 10
y = "red"

x, y = y, x  # Swap the values of x and y

print(x)
print(y)

In Python, a fundamental concept is that everything is an object. This means that all data, including numbers, strings, functions, and even classes, are objects with their own properties and methods.

In [ ]:
x = 10
print(x.bit_length())

Python follows the principle of "assignment does not duplicate objects," which means that assigning a variable does not create a new copy of the object.
- In Python, when you assign a variable to a value, it creates a reference to the existing object rather than creating a new copy of the object.

In [ ]:
x = [1, 2, 3]
y = x

x.append(4)

print(x)  
print(y)

The concept of reference is important to understand in Python. Variables are references to objects rather than containers that hold values.

By understanding that everything is an object and that assignment does not duplicate objects, you can work effectively with data in Python. This knowledge is particularly useful when dealing with mutable objects like lists, dictionaries, or custom classes.

## Solved exercises

### Tips

In [ ]:
# In Python, to iterate over all values from 0 to n-1, you can use range(n).
for idx in range(5):
    print(idx)

In [ ]:
# To check if an element is not present in a list, you can use **not in**.
print('a' not in ['b', 'c', 'd'])

In [ ]:
# To input data from the keyboard, you can use input().
v = float(input("enter value"))
print(v)
v2 = int(input("enter other value"))
print(v2)

### Exercises

1. Given the quantity of existing worlds, implement a "Hello World" program that greets each one of them. The worlds are named World 1, Worls 2, etc...

In [ ]:
worlds_count = 3
for i in range(worlds_count):
    print("Hello world", i +1, "!")

2. Enter the name of a person and greet them.

In [ ]:
name = input("Enter name:")
print("Hello " + name + "!")

3. Please enter the amount of money for a person and the currency you want to convert. You should use variables to store the conversion rates.

In [ ]:
rate_euro = 8.3
rate_usd = 7.1
rate_cup = 0.15

rmb = float(input("Enter the amount in RMB"))
currency = input("Entre destination currency(eur,usd,cup):")
rate = 0
if currency.lower() == 'eur':
    rate = rate_euro
elif currency.lower() == 'usd':
    rate = rate_usd
elif currency.lower() == 'cup':
    rate = rate_cup
if rate > 0:
    converted = rmb / rate
    print("Result is", converted, currency)
else:
    print("Wrong currency:", moneda)

4. Enter two integer numbers and print their quotient and remainder of the division.
Always divide the larger number by the smaller one.

In [ ]:
n = int(input("Enter the first number: "))
m = int(input("Enter the second number: "))
if m > n:
    m, n = n, m
r = n % m
c = n // m
print("quotient =", c, ", remainder =", r)

5. Enter the maximum current demand and the set of energy contributions  (ends with a negative value).
If the demand is greater than the total contribution, print 'Blackout!'.
In all cases, print the generation shortfall or excess.

In [ ]:
demand = float(input("Enter maximum demand: "))
contribution = 0
total_contribution = 0

while contribution >= 0:
    contribution = float(input("Enter contribution (negative to finish): "))
    if contribution > 0:
        total_contribution += contribution

if total_contribution < demand:
    print("Blackout! Shortfall:", demand - total_contribution)
elif demand < total_contribution:
    print("Excess:", total_contribution - demand)
else:
    print("Contribution equal to demand.")

### Sequences

6. Create a list of tuples, where each tuple contains the data of a person: name, age, gender. Initialize the list with data of 3 people.

In [24]:
persons = [("Peter", 12, "M"), 
           ("Jane", 23, "F"), 
           ("Joseph", 16, "M")]
persons

[('Peter', 12, 'M'), ('Jane', 23, 'F'), ('Joseph', 16, 'M')]

6.a) Print the data of the last person

In [25]:
persons[-1]

('Joseph', 16, 'M')

6.b) Print the name of the second person

In [26]:
print(persons[1][0])

Jane

6.c) Print the data of a person given their name (input from the keyboard)

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
persons

[('Peter', 12, 'M'), ('Jane', 23, 'F'), ('Joseph', 16, 'M')]

In [28]:
name = input("Name: ")
for idx in range(len(persons)):
    if persons[idx][0] == name:
        print(persons[idx])

Name: vasdgasf

In [33]:
name = input("Name: ")
for person in persons:
    if person[0] == name:
        print(person)

Name: Peter
('Peter', 12, 'M')

7. From the following list:

In [35]:
l = [3, 5, 6, 2, 4, 6, 7, 9, 12, 2, 3, 5]

In [36]:
for n in l:
    if n % 2 == 1:
        print(n)

3
5
7
9
3
5

a) Print the odd numbers:

In [ ]:
l = [3, 5, 6, 2, 4, 6, 7, 9, 12, 2, 3, 5]
for v in l:
    if v % 2 == 0:
        print(v)

b) Count odd numbers

In [ ]:
c = 0
for v in l:
    if v%2 == 1:
        c += 1
print(c)

c) Add all the numbers

In [44]:
# s = 0
for v in l:
    s = s + v
print(s)

512

8. From the following list:

In [ ]:
m = [2, 3, -5, 3, 4, -2, -7, 4, 7]

a) Determine if the sum (of absolute values) of positive numbers is greater than negative numbers. Use two variables to store the sums.

In [ ]:
sum_pos, sum_neg = 0, 0
for v in m:
    if v > 0:
        sum_pos += v
    else:
        sum_neg += abs(v)
print(sum_pos > sum_neg)

b) Create a new list with positive numbers

In [ ]:
l_pos = []
for v in m:
    if v > 0:
        l_pos.append(v)
print(l_pos)

9. Given the following list

In [45]:
n = [3, 5, -9, 7, 5, 7, 8, -10, -1, 9, -6, -5, 0, 1, -6, -7, -8, -6, 9, -4]

a) Extract a list with the first 5 values

In [46]:
print(n[:5])

[3, 5, -9, 7, 5]

b) Extract a list with the last 5 values

In [47]:
print(n[-5:])

[-7, -8, -6, 9, -4]

c) Extract a list with 5 intermediate values

In [48]:
print(n[len(n)//2-2:len(n)//2+3])

[-1, 9, -6, -5, 0]

In [50]:
result = []
for i in range(len(n)):
    if i % 2 == 1:
        result.append(n[i])
result

[3, -9, 5, 8, -1, -6, 0, -6, -8, 9]

d) Extract a list with the values at even positions

In [52]:
n[1::2]

[5, 7, 7, -10, 9, -5, 1, -7, -6, -4]

e) Calculate the difference between the first half and second half of the values

In [ ]:
print(sum(n[:len(n)//2]) - sum(n[len(n)//2:]))

10. Given the following list with integer values

In [53]:
l = [19, 5, 6, 16, 1, 2, 16, 7, 2, 4]

a) Create a new list with dupplicated values

In [54]:
l2 = []
for idx in range(len(l)):
    v = l[idx]
    if v not in l2:
        l2.append(v)  
l2

[19, 5, 6, 16, 1, 2, 7, 4]

In [56]:
list(set(l))

[1, 2, 4, 5, 6, 7, 16, 19]

b) Create a new list with the values between 0 and 20 that does not appear in the list.

In [57]:
l2 = []
for idx in range(21):
    if idx not in l:
        l2.append(idx)
l2

[0, 3, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20]

11. Given the following string

In [58]:
cad = "Once upon a midnight dreary, while I pondered, weak and weary"

a) Extract the first word

In [59]:
cad[:cad.index(' ')]

'Once'

b) Extract the last word (harder)

In [ ]:
last_pos = len(cad) - cad[::-1].index(' ')
cad[last_pos:]

c) Extract a list with the words

In [ ]:
result = []
c = "Once upon a midnight dreary, while I pondered, weak and weary"
while len(c) > 0:
    if ' ' in c:
        idx = c.index(' ')
        if idx == 0:
            c = c[1:]
        else:
            word = c[:idx]
            result.append(word)
            c = c[idx:]
    else:
        if c != '':
            result.append(c)
            c = ""
print(result)

There is a simpler version if we know the proper method

In [ ]:
c = "Once upon a midnight dreary, while I pondered, weak and weary"
print(c.split(" "))