# Program flow control
<a id='sec_program_flow'></a>

### Logical expressions

True and False are constants in Python. They have the following equivalences:

- False: zero, None, empty container
- True: non-zero, non-empty container

In [ ]:
print(True == True)
print(True == False)
print(True != False)
print(True > False)
print(True is True)
print((8 > 6) is (6 < 12))

Logical operators

In [ ]:
print(True and True)
print(False or True)
print(not True)

Conditional expression

In [ ]:
a = 12
b = 23
a if a > b else b

The predicates **any** and **all** verify whether _any_ or _all_ members of a sequence are true, respectively.

In [ ]:
print(all([True, True, True]))
print(all([True, False, True]))
print(any([False, False, False]))
print(any([True, False, True]))

In [ ]:
all([5 > 4, 4 in [3, 4, 5], True])

In [ ]:
any([0, False, {}])

**if** control structure

In [ ]:
x = 5
if x < 3:
    print("x is below 3")
elif x == 4:
    print("x is 4")
else:
    print("x is above 4")

**while** loop

In [ ]:
x = 1
while x < 5:
    print(x)
    x += 1

In [ ]:
# Usando 'break'
x = 1
while True:
    if x >=5:
        break
    print(x)
    x += 1

In [ ]:
# usando 'continue'
x = 0
while x < 10:
    x += 1
    if x % 2 == 0:
        continue
    print(x)

**for** loop

The for loop iterates through the elements in a collection, allowing you to perform operations on each element sequentially.

In [ ]:
for x in [1, 2, 3, 4, 5]:
    print(x, x**2)

In [ ]:
for c in "elementary":
    print(c)

## Solved Exercises

Exercise 1: Print numbers from 1 to 10

In [ ]:
for num in range(1, 11):
    print(num)

Exercise 2: Calculate the sum of numbers in a list

In [ ]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

numbers = [1, 2, 3, 4, 5]
print(calculate_sum(numbers))

Exercise 3: Print the characters in a string

In [ ]:
string = "Hello, World!"
for char in string:
    print(char)

Find the maximum number in a list

In [10]:
def find_maximum(numbers):
    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num

numbers = [5, 8, 3, 10, 2]
print(find_maximum(numbers))

10

Print triangular shaped pattern using nested for loops

In [11]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

Count the occurrences of a specific element in a list

In [ ]:
def count_occurrences(numbers, target):
    count = 0
    for num in numbers:
        if num == target:
            count += 1
    return count

numbers = [2, 5, 2, 8, 2, 3]
target = 2
print(count_occurrences(numbers, target))

Calculate the factorial of a number

In [ ]:
def calculate_factorial(num):
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i
    return factorial

num = 5
print(calculate_factorial(num))

Reverse a string

In [13]:
string = "Hello, World!"
reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print(reversed_string)

!dlroW ,olleH

Generate a multiplication table

In [12]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

Find and print prime numbers

In [14]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

limit = 20
for num in range(2, limit + 1):
    if is_prime(num):
        print(num)

2
3
5
7
11
13
17
19