# Comprehensions

Python comprehensions are concise ways to create new sequences (lists, sets, dictionaries) by performing operations on existing sequences. 
- They allow you to write compact and readable code to generate sequences based on certain conditions or transformations. 

There are three types of comprehensions in Python: list comprehensions, set comprehensions, and dictionary comprehensions.

## List comprehensions
List comprehensions provide a concise way to create new lists based on existing lists or other iterable objects.

Syntax: 

new_list = [expression for item in iterable if condition]

Where:
- expression: The operation or transformation to apply to each item.
- item: The element from the iterable that is being processed.
- iterable: The existing list, string, or any other iterable object.
- condition (optional): A condition that filters the elements based on a certain criteria.

Lets see some examples

In [12]:
base_list = [1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
[x for x in base_list]

[1, 2, 3, 4, 5, 6, 7, 8]

Lets apply some transformations

In [14]:
[x ** 2 for x in base_list]

[1, 4, 9, 16, 25, 36, 49, 64]

In [16]:
[x > 5 for x in base_list]

[False, False, False, False, False, True, True, True]

We can create structured types inside the resultant list

In [17]:
[(x, x**2) for x in base_list]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [24]:
[[x, x+1, x+2] for x in base_list]

[[1, 2, 3],
 [2, 3, 4],
 [3, 4, 5],
 [4, 5, 6],
 [5, 6, 7],
 [6, 7, 8],
 [7, 8, 9],
 [8, 9, 10]]

In [19]:
["<>" * x for x in base_list]

['<>',
 '<><>',
 '<><><>',
 '<><><><>',
 '<><><><><>',
 '<><><><><><>',
 '<><><><><><><>',
 '<><><><><><><><>']

Filtering the results

In [20]:
base_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
[x for x in base_list if x > 4]

[5, 6, 7, 8]

In [22]:
[x for x in base_list if x % 2 == 0]

[2, 4, 6, 8]

### Nested comprehensions
You can also nest comprehensions, where you every element you create using another comprehension

In [23]:
[[v for v in range(x)] for x in base_list]

[[0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7]]

In [25]:
[[row * col for col in range(1, 4)] for row in range(1, 4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [32]:
# Flattening a nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[v for sublist in nested_list for v in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# Creating a list of tuples
numbers = [1, 2, 3, 4, 5]
pairs = [(x, y) for x in numbers for y in numbers if x != y]
print(pairs)

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4)]

## Dictionary Comprehensions
Dictionary comprehensions in Python allow you to create dictionaries in a concise and expressive manner. They follow a similar syntax to list comprehensions but produce dictionaries as their result.

Syntax:

new_dict = {key_expression: value_expression for item in iterable if condition}

Lets see some examples:

In [36]:
values = [x for x in range(10)]
values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
{x: 0 for x in values}

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

In [38]:
{x: x**2 for x in values}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [39]:
{(x, x % 2 == 0): (x, x+1) for x in values}

{(0, True): (0, 1),
 (1, False): (1, 2),
 (2, True): (2, 3),
 (3, False): (3, 4),
 (4, True): (4, 5),
 (5, False): (5, 6),
 (6, True): (6, 7),
 (7, False): (7, 8),
 (8, True): (8, 9),
 (9, False): (9, 10)}

In [44]:
stone_names = ["Quartz", "Amethyst", "Diamond", "Ruby", "Emerald", "Sapphire", "Topaz", "Opal", "Jade", "Citrine"]

In [45]:
# Associate name with length
{name: len(name) for name in stone_names}

{'Quartz': 6,
 'Amethyst': 8,
 'Diamond': 7,
 'Ruby': 4,
 'Emerald': 7,
 'Sapphire': 8,
 'Topaz': 5,
 'Opal': 4,
 'Jade': 4,
 'Citrine': 7}

In [46]:
# count vowels
{name: sum(1 for letter in name.lower() if letter in 'aeiou') for name in stone_names}

{'Quartz': 2,
 'Amethyst': 2,
 'Diamond': 3,
 'Ruby': 1,
 'Emerald': 3,
 'Sapphire': 3,
 'Topaz': 2,
 'Opal': 2,
 'Jade': 2,
 'Citrine': 3}

In [47]:
# Contains 'a'?
{name: 'Yes' if 'a' in name.lower() else 'No' for name in stone_names}

{'Quartz': 'Yes',
 'Amethyst': 'Yes',
 'Diamond': 'Yes',
 'Ruby': 'No',
 'Emerald': 'Yes',
 'Sapphire': 'Yes',
 'Topaz': 'Yes',
 'Opal': 'Yes',
 'Jade': 'Yes',
 'Citrine': 'No'}

In [48]:
# Reverse names
{name: name[::-1] for name in stone_names}

{'Quartz': 'ztrauQ',
 'Amethyst': 'tsyhtemA',
 'Diamond': 'dnomaiD',
 'Ruby': 'ybuR',
 'Emerald': 'dlaremE',
 'Sapphire': 'erihppaS',
 'Topaz': 'zapoT',
 'Opal': 'lapO',
 'Jade': 'edaJ',
 'Citrine': 'enirtiC'}

Filters can also be used

In [43]:
{s: len(s) for s in stone_names if s[0] in "AEIOU"}

{'Amethyst': 8, 'Emerald': 7, 'Opal': 4}

In [50]:
{name: len(name) for name in stone_names if len(name) > 5}

{'Quartz': 6,
 'Amethyst': 8,
 'Diamond': 7,
 'Emerald': 7,
 'Sapphire': 8,
 'Citrine': 7}

In [51]:
{name: sum(1 for letter in name.lower() if letter in 'aeiou') for name in stone_names if name[0].lower() in 'aeiou'}

{'Amethyst': 2, 'Emerald': 3, 'Opal': 2}

In [54]:
# Only for palyndromes
words = ['opal', 'emerald', 'ruby', 'madam', 'sapphire', 'level', 'diamond']
{name: None for name in words if name.lower() == name.lower()[::-1]}

{'madam': None, 'level': None}